* {
	box-sizing: border-box;
	user-select: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-family: "EightBitDragon";
}

@font-face {
	font-family: "NineteenNinetySeven";
	src: url(../fonts/NineteenNinetySeven-11XB.ttf);
}
@font-face {
	font-family: "EightBitDragon";
	src: url(../fonts/EightBitDragon-anqx.ttf);
}

.hidden {
	display: none;
}

.game-world {
	height: 100vh;

	border: 5px solid black;
}

.background-img {
	height: 100vh;
	position: fixed;
	z-index: -20;
	background: url(../images/bg-clouds.jpg) no-repeat fixed fixed center;
}

.start-prompt {
	position: fixed;
	top: 50%;
	left: 50%;
	margin: auto;
	transform: translate(-50%, -50%);
}

.bird-image {
	z-index: 10;
	height: 80px;
	position: fixed;
	top: 10vh;
	left: 10%;
}

.pipe-block {
	position: fixed;
	top: 40vh;
	left: 80vw;
	height: 70vh;
	width: 150px;
	border: 1px solid black;
}

.pipe-img {
	width: 100%;
}

.start-prompt {
	font-size: 4rem;
	text-align: center;
	cursor: pointer;
	z-index: 30;
}

.score-box {
	font-size: 2.5rem;
	position: fixed;
	width: max-content;
	right: 10%;
	top: 5%;
	z-index: 10;
}

.high-score-box {
	font-size: 2.5rem;
	position: fixed;
	width: max-content;
	left: 5%;
	top: 5%;
	z-index: 10;
}

.play-again-btn {
	border: 1px solid black;
	border-radius: 2rem;
	background-color: white;
	height: auto;
	width: max-content;
	padding: 2rem;
	font-size: 2.5rem;
	position: fixed;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

.reset-data-btn {
	border: 1px solid black;
	border-radius: 2rem;
	background-color: white;
	height: auto;
	width: max-content;
	padding: 2rem;
	font-size: 2.5rem;
	position: fixed;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

.fly-button {
	z-index: 30;
	border: 1px solid black;
	border-radius: 2rem;
	background-color: white;
	height: auto;
	width: max-content;
	padding: 2rem;
	font-size: 2.5rem;
	position: fixed;
	top: 85%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
	.score-box {
		top: 10%;
	}

	.bird-image {
		z-index: 10;
		height: 48px;
	}

	.reset-data-btn,
	.play-again-btn,
	.fly-button {
		padding: 1rem;
		font-size: 1.5rem;
	}

	.play-again-btn {
		top: 25%;
		left: 50%;
	}

	.score-box,
	.high-score-box {
		font-size: 1.5rem;
		z-index: 10;
	}

	.start-prompt {
		font-size: 3rem;
	}

	.pipe-block {
		width: 120px;
		height: 74vh;
	}
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
	.score-box {
		right: 10%;
		top: 5%;
	}

	.bird-image {
		z-index: 10;
		height: 42px;
	}

	.reset-data-btn,
	.play-again-btn,
	.fly-button {
		padding: 1rem;
		font-size: 1.5rem;
	}

	.play-again-btn {
		top: 80%;
		left: 25%;
	}
	.reset-data-btn {
		top: 80%;
		left: 75%;
	}

	.score-box,
	.high-score-box {
		font-size: 1.5rem;
		z-index: 10;
	}

	.start-prompt {
		font-size: 2.5rem;
	}

	.pipe-block {
		width: 120px;
		height: 60vh;
	}
}

.start-prompt:hover {
	font-size: 4.2rem;
}

.play-again-btn:hover,
.reset-data-btn:hover {
	background-color: goldenrod;
	font-size: 3rem;
}
